# исключить из pages всё, кроме home и 404
/pages/**
!/pages/home/*
!/pages/404/*

# игнорируем все js-файлы в js
/js/*.js
/js/autoload/*.js
/js/lazy/*.js

# игнорируем все компоненты, кроме меню
/components/**
!/components/menu/**

# игнорируеми кеш кроме .gitkeep
/cache/*
!/cache/.gitkeep

# игнорируеми set
/set/**

# игнорируеми environment
/environment/**

# игнорируеми fonts
/fonts/**

# игнорируеми images кроме favicon.png
/images/**
!/images/favicon.png
